extends layout

block content
  h1 Add manhole

  form(method='POST' action='')
    div.form-group
      label(for='name') Name:
      input#name.form-control(type='text', placeholder='MyFavoriteManhole' name='name' required='true')
    div.form-group
      label(for='lng') Longitude:
      input#lng.form-control(type='text', placeholder='-180:180' name='lng' required='true')
      label(for='lat') Latitude:
      input#lat.form-control(type='text', placeholder='-90:90' name='lat' required='true')
    button.btn.btn-primary(type='submit') Submit