$primary: "blue-grey";
$accent: "light-green";

@import 'ember-paper';

.ember-google-map {
  width: 300px;
  height: 300px;
}

.app-container {
  width: 100%;
  height: 100%;
}

.site-nav-container, body>div.ember-view:first-of-type {
  width: 100%;
  height: 100%;
}