<span>Name:</span> {{input type="text" value=name size="100" required="true"}}
<span>Latitude:</span> {{input type="number" value=lat}}
<span>Longitude:</span> {{input type="number" value=lng}}

<button {{action "submitCreate"}}>Add to database</button>

{{!-- TODO: Display Validation Errors (After adding validation on backend) --}}