<h2>Manhole List</h2>

{{#each model as |manhole|}}
  <h3>{{#link-to "manholes.detail" manhole}}{{manhole.name}}{{/link-to}}</h3>
  <span>Latitude:</span> {{manhole.latitude}}
  <span>Longitude:</span> {{manhole.longitude}}
{{/each}}