<h2>Manhole List</h2>

{{#each model as |manhole|}}
  <h3>
    {{#link-to "manholes.detail" manhole}}  {{!-- model name as 2nd arg seralizes to model_id by default --}}
      {{manhole.name}}
    {{/link-to}}
  </h3>
  <span>Latitude:</span> {{manhole.latitude}}
  <span>Longitude:</span> {{manhole.longitude}}
{{/each}}